[submodule "systemd"]
	path = systemd
	url = https://github.com/systemd/systemd.git
[submodule "linux"]
	path = linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git
[submodule "amneziawg"]
	path = amneziawg
	url = https://github.com/amnezia-vpn/amneziawg-linux-kernel-module.git
[submodule "nixpkgs"]
	path = nixpkgs-unstable
	url = https://github.com/NixOS/nixpkgs.git
[submodule "nixpkgs-2405"]
	path = nixpkgs-2405
	url = https://github.com/NixOS/nixpkgs.git
	branch = nixos-24.05
